.App {
    text-align: center;  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Calibri','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MgHorizontal {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.MgVertical {    
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.MgAlignLeft {
  text-align: left;  
  align-items: flex-start;
}

.MgAlignRight {
  text-align: right; 
  align-items: flex-end;
}

.MgAlignCenter {    
  text-align: center; 
  align-items: center;
}

.MgImageEnlight {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.MgLogo {
    width:50px;
    height:40px;
}
  
.MgLogoTitle {
    vertical-align: bottom;
  }
  
.MgBlockHeader {
  text-align: center;
  padding: 5px 5px 5px 5px
}
  
.MgBlockFooter {
  color: white;
  background-color: black;
  text-align: left;
  padding: 5px 5px 5px 5px
}

.MgExhibitionPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.MgExhibitionPlayer img{
  width: 100%;
  object-fit: contain;
}

.MgExhibitionPlayerImage {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.MgExhibitionPlayerStart {
  position: fixed;
  display: block;
  width: 100%;
  height: 20%;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 2000;
  cursor: pointer;
  color: white;
  text-align: center;
}

.MgBlockProduct {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: flex-start; /* align vertical */  
  padding: 40px 40px 40px 40px ;
}

.MgBlockProduct img {
  width:100%;
  object-fit: contain;
  -webkit-box-shadow: 0 3px 7px -2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 3px 7px -2px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 7px -2px rgba(0, 0, 0, .2);
}


.MgLegend {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 5px 5px 5px;
}

.MgBlockContent {
  width: 100%;
  padding: 5px 5px 5px 5px;
}

.MgBlockProductDetails {  
  display: flex;
  text-align: right;
  align-items: flex-end;
  padding: 20px 10px 0px 50px;
  height: 400px;
}


.MgBlockArtist {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: flex-start; /* align vertical */  
  padding: 40px 40px 40px 40px ;
}

.MgBlockArtist img {
  height: 400px;
  width:100%;
  object-fit: contain;
  -webkit-box-shadow: 0 3px 7px -2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 3px 7px -2px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 7px -2px rgba(0, 0, 0, .2);
}

.MgArtistLegend {
  align-self: center;
}

.MgTitle{
  font-size: xx-large;
  font-weight: bold;
}


.MgButton   {
  background-color: black;
  color: white;
  font-weight: bold;
}

.MgBlockCollections {
  display: flex;
  flex-direction: column;
  justify-content: left; /* align horizontal */
  align-items: flex-start; /* align vertical */  
  padding: 20px 20px 20px 20px ;
  width:100%;
}

.MgBlockCollectionRow {
  width : 100%;
}

.MgBlockCollection {
 display: flex;
 justify-content: center; /* align horizontal */
 align-items: flex-end; /* align vertical */  
 padding: 10px 10px 10px 10px ;
}


.MgBlockCollection img {
  -webkit-box-shadow: 0 3px 7px -2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 3px 7px -2px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 7px -2px rgba(0, 0, 0, .2);
}

.MgBlockCollectionText {
  padding: 60px 10px 10px 10px ;
  width : 80%
}

.MgBlockProductBlockTitle {
  height : 350px;
}

.MgBlockProductBlockNFT {
  height : 350px;
}

.MgBlockProductBlockVariants {
  height : 250px;
  
}
.MgBlockProductBlockBuy {
  height : 250px;  
}
