.App {
    text-align: center;  
}


.MgHorizontal {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.MgVertical {    
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.MgAlignLeft {
  text-align: left;  
  align-items: flex-start;
}

.MgAlignRight {
  text-align: right; 
  align-items: flex-end;
}

.MgAlignCenter {    
  text-align: center; 
  align-items: center;
}

.MgLogo {
    width:50px;
    height:40px;
}
  
.MgLogoTitle {
    vertical-align: bottom;
  }
  
.MgBlockHeader {
  text-align: center;
  padding: 5px 5px 5px 5px
}
  
.MgBlockFooter {
  color: white;
  background-color: black;
  text-align: left;
  padding: 5px 5px 5px 5px
}

.MgExhibitionPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.MgExhibitionPlayer img{
  width: 100%;
  object-fit: contain;
}

.MgExhibitionPlayerImage {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.MgExhibitionPlayerStart {
  position: fixed;
  display: block;
  width: 100%;
  height: 20%;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 2000;
  cursor: pointer;
  color: white;
  text-align: center;
}

.MgBlockProduct {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: flex-start; /* align vertical */  
  padding: 40px 40px 40px 40px ;
}

.MgBlockProduct img {
  width:100%;
  object-fit: contain;
}


.MgLegend {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 5px 5px 5px;
}

.MgBlockContent {
  width: 100%;
  padding: 5px 5px 5px 5px;
}

.MgBlockProductDetails {  
  display: flex;
  text-align: right;
  align-items: flex-end;
  padding: 20px 10px 0px 50px;
}


.MgBlockArtist {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: flex-start; /* align vertical */  
  padding: 40px 40px 40px 40px ;
}

.MgBlockArtist img {
  height: 400px;
  width:100%;
  object-fit: contain;
}

.MgArtistLegend {
  align-self: center;
}

.MgTitle{
  font-size: xx-large;
  font-weight: bold;
}

.MgButton   {
  background-color: black;
  color: white;
  font-weight: bold;
}

.MgBlockCollections {
  display: flex;
  flex-direction: column;
  justify-content: left; /* align horizontal */
  align-items: flex-start; /* align vertical */  
  padding: 40px 40px 40px 40px ;
}

.MgBlockCollection {
 display: flex;
 justify-content: center; /* align horizontal */
 align-items: flex-end; /* align vertical */  
 padding: 10px 10px 10px 10px ;
}


.MgBlockCollection img {
  height: 130px;
  object-fit: contain;
  padding: 10px 10px 10px 10px ;
}

.MgBlockCollectionText {
  padding: 60px 10px 10px 10px ;
}
